.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  grid-auto-rows: 1fr
}

@media only screen and (max-width: 800px) {
  .chart-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}