<div class="chart-item">
  @if (modifiedChartData){
  <div class="top-container">
    <div class="left">
      <h2>{{chartData().chartName}}</h2>
      @if(modifiedChartData.testData[this.testDataIndex].hasDates){
        <p>Looking at period of {{modifiedChartData.testData[this.testDataIndex].range?.start}} - {{modifiedChartData.testData[this.testDataIndex].range?.end}}</p>
      }@else {
        <p>Looking at period of May 1 - May 11</p>
      }
    </div>
    @if(chartData().chartType === 'line') {
      <div class="right">
        <div class="filter-div">
          <mat-form-field appearance="outline" class="custom-select">
            <mat-select (selectionChange)="this.filterChanged($any($event))" placeholder="Filter">
              @for (period of periods; track period) {
                <mat-option [value]="period.value">{{period.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        @if(selectedFilter() === 'custom'){
          <div class="date-pickers">
            <mat-form-field appearance="outline" class="custom-range">
              <mat-date-range-input [rangePicker]="picker">
                <input (dateChange)="this.handleDateRangeChange($any($event))" matStartDate placeholder="Start date" [attr.data-selection]="'start'">
                <input (dateChange)="this.handleDateRangeChange($any($event))" matEndDate placeholder="End date" [attr.data-selection]="'end'">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        }
      </div>
    }
  </div>
    <div class="all-stats">
      @for (dataset of modifiedChartData.testData[this.testDataIndex].datasets; track $index){
        <div class="stat-container">
          <div class="count-group">
            <div class="counter">
              <h1>${{dataset.value || '17,258'}}</h1>
            </div>
            <p class="diff-counter">+ 1.12%</p>
          </div>
          <div class="legend-box">
            <div class="box" [style]="{background: (dataset.borderColor)}"></div>
            <p>{{dataset.label}}</p>
          </div>
        </div>
      }
    </div>
  }
  
  <div class="canvas-container">
    <canvas class="chart-canvas" id="Chart-{{chartId}}">
      {{ chart }}
    </canvas>
  </div>
  
</div>